In [ ]:
import gmaps
import os
import csv
import pandas as pd

# Google developer API key
from config import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [2]:
import gmaps

# Google developer API key
from config import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)
aFile = os.path.join("..", "Group-4-", "Resources","red-light-camera-violations.csv")

In [3]:
red_vio_df = pd.read_csv(aFile)
red_vio_df.dropna(inplace = True) 
red_vio_df.head()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,111TH AND HALSTED,2424.0,800 W 111TH ST,2019-11-21T00:00:00.000,1,1.172945e+06,1.831283e+06,41.692465,-87.642441,"{'latitude': '41.692465363421874', 'human_addr...",45.0,21861.0,74.0,315.0,22.0
1,111TH AND HALSTED,2422.0,11100 S HALSTED ST,2019-11-21T00:00:00.000,7,1.172924e+06,1.831209e+06,41.692263,-87.642523,"{'latitude': '41.692263123425136', 'human_addr...",45.0,21861.0,74.0,663.0,22.0
2,119TH AND HALSTED,2402.0,11900 S HALSTED,2019-11-21T00:00:00.000,12,1.173095e+06,1.825911e+06,41.677721,-87.642052,"{'latitude': '41.67772082924762', 'human_addre...",45.0,21861.0,50.0,662.0,22.0
3,119TH AND HALSTED,2404.0,800 W 119TH STREET,2019-11-21T00:00:00.000,5,1.173111e+06,1.825985e+06,41.677923,-87.641990,"{'latitude': '41.677923389134385', 'human_addr...",45.0,21861.0,50.0,642.0,22.0
5,31ST ST AND MARTIN LUTHER KING DRIVE,2123.0,400 E 31ST STREET,2019-11-21T00:00:00.000,1,1.179438e+06,1.884566e+06,41.838534,-87.617046,"{'latitude': '41.838534018118914', 'human_addr...",1.0,21194.0,1.0,560.0,10.0

In [12]:

#l = red_vio_df.index.values
#for i in range(0,len(red_vio_df)):
#    if red_vio_df.loc[l[i], 'CAMERA ID'] == red_vio_df.loc[l[i + 1], 'CAMERA ID']:
#        vio_total = red_vio_df.loc[l[i], 'VIOLATIONS'] + red_vio_df.loc[l[i+1], 'VIOLATIONS']
#        print(red_vio_df.loc[l[i], 'CAMERA ID'],'violation total: ',vio_total)
#    else:
#        vio_total2 = red_vio_df.loc[l[i], 'VIOLATIONS']
#        print(red_vio_df.loc[l[i], 'CAMERA ID'],'violation total: ',vio_total2)

grouped_red_df = red_vio_df.groupby(['CAMERA ID'])
grouped_red_df.count().head(10)

,INTERSECTION,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
CAMERA ID,,,,,,,,,,,,,,
1002.0,1899,1899,1899,1899,1899,1899,1899,1899,1899,1899,1899,1899,1899,1899
1003.0,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437,1437
1011.0,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836
1014.0,1931,1931,1931,1931,1931,1931,1931,1931,1931,1931,1931,1931,1931,1931
1023.0,1650,1650,1650,1650,1650,1650,1650,1650,1650,1650,1650,1650,1650,1650
1024.0,1737,1737,1737,1737,1737,1737,1737,1737,1737,1737,1737,1737,1737,1737
1031.0,1924,1924,1924,1924,1924,1924,1924,1924,1924,1924,1924,1924,1924,1924
1034.0,1077,1077,1077,1077,1077,1077,1077,1077,1077,1077,1077,1077,1077,1077
1041.0,1863,1863,1863,1863,1863,1863,1863,1863,1863,1863,1863,1863,1863,1863
1042.0,1868,1868,1868,1868,1868,1868,1868,1868,1868,1868,1868,1868,1868,1868

In [22]:
total_violations = grouped_red_df["VIOLATIONS"].sum()

In [27]:
red_summary_df = pd.DataFrame({"Total Violations": total_violations})
red_summary_df

           Total Violations
CAMERA ID
1002.0                 9895
1003.0                 2854
1011.0                 7079
1014.0                13495
1023.0                 4428
...                     ...
3072.0                 5810
3082.0                 9822
3084.0                 2181
8304.0                    7
8313.0                   22

[346 rows x 1 columns]

In [31]:
red_summary_df.to_csv('red-violation-out.csv', index=True)

In [47]:
#camera_ids = pd.unique(red_vio_df["CAMERA ID"])

#latlong_df = pd.DataFrame(red_vio_df,columns=['CAMERA ID','LATITUDE','LONGITUDE'])
#latlong_df.drop_duplicates(inplace=True)
#latlong_df

In [50]:
heatmap_df = pd.read_csv(os.path.join("..", "Group-4-", "red-violation-longlat-indexmatch.csv"))
heatmap_df.dropna(inplace = True) 
heatmap_df.head()

   CAMERA ID  Total Violations   LATITUDE  LONGITUDE
0       1002              9895  41.851984 -87.685786
1       1003              2854  41.852141 -87.685753
2       1011              7079  41.990586 -87.689822
3       1014             13495  41.990609 -87.689735
4       1023              4428  41.953025 -87.786683

In [54]:
locations = heatmap_df[["LATITUDE", "LONGITUDE"]]
violations = heatmap_df["Total Violations"].astype(float)

In [78]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=violations, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=.001, opacity=0.5, gradient=[(0, 255, 255, 0),(0, 255, 255, 1),(0, 191, 255, 1),(0, 127, 255, 1),
                                                              (0, 63, 255, 1),(0, 0, 255, 1),(0, 0, 223, 1),(0, 0, 191, 1),(0, 0, 159, 1),
                                                              (0, 0, 127, 1),(63, 0, 91, 1),(127, 0, 63, 1),(191, 0, 31, 1),(255, 0, 0, 1)])

# Add layer
fig.add_layer(heat_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))